<!doctype html>
<html>
    <head>
        <title>School stuff</title>
    </head>
    <body>
        <h1> Here it is</h1>
        <a href=/mentors>Mentors and schools page</a><br>
        <a href=/all-school>All school page</a><br>
        <a href=/Mentors-by-country-page>Mentors by country page</a><br>
        <a href=/contacts>Contacts page</a><br>
        <a href=/applicants>Applicants page</a><br>
        <a href=/applicants-and-mentors>Applicants and mentors page</a><br>
    </body>
</html>
