<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h1>{% block h1 %}{% endblock %}</h1>
    <table border="6" color='white' style="width:100%">
        <tr>
        {% for key in sql_list[0] %}
            <th> {{ key }} </th>
        {% endfor %}
        </tr>
        {% for list in sql_list %}
            <tr>
                {% for key in sql_list[0] %}
                    <td>{% if list[key] == None %} No Data {% else %} {{ list[key] }} {% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
